.btn {
    background-color: #222;
    color: #fff;
    padding: 0.5em 1em;
    text-decoration: none;
    border: none;
    cursor: pointer;
    display: inline-flex;
    justify-items: center;
    transition: 0.5s;
    border-radius: 4px;
}
.btn:hover {
    color: #5d9cfa;
}